@media (max-width: 319px) {

    header {
        height: 25vh;
        margin-left: 0;
    }

    main {
        display: flex;
        flex-direction: column;
        margin: 0;
        
        
    }

    .main__one {
        width: 100vw;
        height: 56vh;    
                
    }

    .block {
        width: 39vw;
        height: 25vh;
        
    }

    .main__one :first-child {
        width: 100vw;
        height: 25vh;
    }

   .main__two {
    margin-left: 0px;
    width: 100vw;
    height: 25vh;

   }
}

@media (max-height: 320px) and (orientation: landscape) {

    header {
        height: 25vh;
    }

    main {
        display: flex;
        flex-direction: column;
        
        
    }

    .main__one {
        width: 100vw;
        height: 94vh;    
                
    }

    .block {
        width: 100vw;
        height: 25vh;
    }

    .main__one :first-child {
        width: 100vw;
        height: 25vh;
    }

   .main__two {
    margin-left: 0px;
    width: 100vw;
    height: 25vh;

   }

}
